*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body{
    width: 100vw;
    height: 100vh;
    background-color: indigo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja1{
    color: bisque;
    width: 25em;
    height: 15em;
    background-color: rgb(108, 2, 153);
    box-shadow: 0 0 2em white;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.caja2{
    text-align: center;
    margin: .5em;
    color: white;
    width: 10em;
    height: 5em;
    background-color:darkblue;
    box-shadow: 0 0 2em white;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.h2{
    text-align: center;
    text-shadow: 0 0 .5em rgb(14, 3, 21);
}

.h1{
    text-align: center;
    text-shadow: 0 0 .5em rgb(255, 255, 255);
}

.button{
    text-align: center;
    border-radius: .3em;
    -webkit-border-radius: .3em;
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
}