*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.body{
    width: 100vw;
    height: 100vh;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
   
.canvas{
    width: 50%;
    height: 70%;
    border-style: solid;
}